<div class="container">
  <h1>About Us</h1>
  <div class="row">
    <div class="col-md-4">
      <img
        class="img-profile"
        src="assets/images/teamIMG/Aayushi.jpeg"
        alt="Profile Aayushi"
      />
      <h5 class="card-title">Ayushi</h5>
      <p class="card-text">
        Project Manager
      </p>
    </div>
    <div class="col-md-4">
      <img
        class="img-profile"
        src="assets/images/teamIMG/Krunal.jpg"
        alt="Profile Krunal"
      />
      <h5 class="card-title">Krunal</h5>
      <p class="card-text">
        Lead Software Engineer
      </p>
    </div>
    <div class="col-md-4">
      <img
        class="img-profile"
        src="assets/images/teamIMG/Vasu.jpeg"
        alt="Profile Vasu"
      />
      <h5 class="card-title">Vasu</h5>
      <p class="card-text">
        Database Programmer
      </p>
    </div>
    <div class="col-md-4">
      <img
        class="img-profile"
        src="assets/images/teamIMG/Louis.jpg"
        alt="Profile Louis"
      />
      <h5 class="card-title">Louis</h5>
      <p class="card-text">
        Web Designer
      </p>
    </div>
    <div class="col-md-4">
      <img
        class="img-profile"
        src="assets/images/teamIMG/Mia.jpg"
        alt="Profile Mia"
      />
      <h5 class="card-title">Mia</h5>
      <p class="card-text">
        UI Programmer
      </p>
    </div>
    <div class="col-md-4">
      <img
        class="img-profile"
        src="assets/images/teamIMG/Javed.jpg"
        alt="Profile Hassan"
      />
      <h5 class="card-title">Hassan</h5>
      <p class="card-text">
        Security Programmer
      </p>
    </div>
  </div>
</div>
