<div class="container">
  <h1>Survey List</h1>

  <form action="">
    <div class="row">
      <div class="col-9"><input class="form-control" type="text" /></div>
      <div class="col-3">
        <button type="button" class="btn btn-primary btn-new" routerLink="/new-survey">New Survey</button>
      </div>
    </div>
  </form>

  <div class="list-header d-flex flex-row">
    <div class="list-del"></div>
    <div class="list-name">
      <h5>Name</h5>
    </div>
    <div class="list-type">
      <h5>Survey Type</h5>
    </div>
    <div class="list-status">
      <h5>Status</h5>
    </div>
    <div class="list-edit"></div>
    <div class="list-duplicate"></div>
  </div>
  <div *ngFor="let survey of surveys" class="list-box mt-2 d-flex flex-row">
    <div class="list-del" (click)="deleteSurvey(survey._id!)">X</div>
    <div class="list-name">
      <h5>{{ survey.title | slice: 0:100 }}</h5>
    </div>
    <div class="list-type">
      <h5>{{ survey.type }}</h5>
    </div>
    <div class="list-status">
      <h5>
        {{
          survey.dateEnd! > today && survey.dateStart! < today
            ? "Active"
            : "Inactive"
        }}
      </h5>
    </div>
    <div class="list-edit">
      <button type="button" class="btn btn-primary btn-list" routerLink="/edit/{{survey._id}}">Edit</button>
    </div>
    <div class="list-duplicate">
      <button type="button" class="btn btn-warning btn-list" routerLink="/delete/{{survey._id}}">Duplicate</button>
    </div>
  </div>
  <!-- Pages Buttons -->
  <div class="form-inline float-end mt-2">
    <select class="form-control" [value]="surveysPerPage" (change)="changePageSize($any($event.target).value)">
      <option value="3">3 per Page</option>
      <option value="4">4 per Page</option>
      <option value="6">6 per Page</option>
      <option value="10">10 per Page</option>
    </select>
  </div>

  <div class="btn-group float-start mt-2">
    <button *counter="let page of pageCount" (click)="changePage(page)" [class.active]="page == selectedPage"
      class="btn btn-outline-primary">
      {{ page }}
    </button>
  </div>
</div>