<div class="container">
  <div class="backdrop">
    <h1>Register</h1>

    <form action="">
      <div class="row">
        <div class="col-md-6">
          <label class="form-label" for="">First Name:</label>
          <input class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="">Last Name:</label>
          <input class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="">Username:</label>
          <input class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="">Email Address:</label>
          <input class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="">Password:</label>
          <input class="form-control" type="text" />
        </div>
        <div class="col-md-6">
          <label class="form-label" for="">Re-enter Password:</label>
          <input class="form-control" type="text" />
        </div>
      </div>
      <p class="terms-txt">
        <input type="checkbox" name="" id="" /> I agree to the Term of Service
        and Privacy Policy
      </p>

      <div class="container-center">
        <button type="submit" class="btn btn-primary">  <a href="/survey-list">Register</a></button>
        <a href="/home"><div type="submit" class="btn btn-danger">Cancel</div></a>
        <p class="login-txt">Already have an account? <a href="/login">Login</a></p>
      </div>
    </form>
  </div>
</div>
