/* You can add global styles to this file, and also import other style files */
body {
  background-color: #264653;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Manrope", sans-serif;
}

h1 {
  font-weight: 700;
  color: #f4a261;
  line-height: 6.5rem;
  font-size: 5rem;
  margin: 8% 0 4%;
}

p {
  font-family: "Poppins", sans-serif;
}

img {
  z-index: -1;
}

.btn {
  color: #264653;
  font-weight: 600;
}

.btn-primary {
  background-color: #2a9d8f;
  border-color: #2a9d8f;
}

.btn-warning {
  background-color: #e9c46a;
  border-color: #e9c46a;
}

.btn-danger {
  background-color: #e76f51;
  border-color: #e76f51;
}

.btn-primary:hover {
  background-color: #264653;
  border-color: #264653;
}

.btn-warning:hover {
  background-color: #f4a261;
  border-color: #f4a261;
  color: #fff;
}

.btn-danger:hover {
  background-color: #f4a261;
  border-color: #f4a261;
}
