<div class="container">
  <div class="backdrop">
    <h1>Login</h1>

    <form action="">
      <label class="form-label" for="">Username:</label>
      <input class="form-control" type="text" />
      <label class="form-label" for="">Password:</label>
      <input class="form-control" type="text" />
      <p class="forgot-txt"><a href="">Forgot password?</a></p>
      <div class="container-center">
        <button type="submit" class="btn btn-primary">Login</button><br />
        <small>Don't have an account? </small><br />
        <a href="/register"><div class="btn btn-warning">Register</div></a>
      </div>
    </form>
  </div>
</div>
