<div class="wrapper">
  <div class="container">
    <h1>
      Online <br />
      surveys <br />
      made easy.
    </h1>
    <div class="img-overflow">
      <img
        class="main-img"
        src="assets/images/teamIMG/footer.png"
        alt="Survey Image"
        height="800"
        width="955"
      />
    </div>
  </div>
  <div class="backdrop">
    <h3>Recent survey results</h3>
    <div class="row">
      <div class="col-md-3 survey-card">
        <div class="survey-page"></div>
      </div>
      <div class="col-md-3">
        <div class="survey-page"></div>
      </div>
      <div class="col-md-3">
        <div class="survey-page"></div>
      </div>
      <div class="col-md-3">
        <div class="survey-page"></div>
      </div>
    </div>
  </div>
</div>
