<div class="container">
  <h1>Contact Us</h1>
  <div class="backdrop">
    <p class="description">
      Do you have any questions? Please do not hesitate to contact us directly.
      Our team will <br />
      come back to you within a matter of hours to help you.
    </p>
    <div class="row">
      <div class="col-md-5">
        <div class="icon-left">
          <p><i class="fa-solid fa-phone-flip"></i> 000-000-0000</p>
          <br />
          <p><i class="fa-solid fa-envelope"></i> contactmetaweb@email.com</p>
        </div>
      </div>
      <div class="col-md-1">
        <div class="icon"><i class="fa-solid fa-file-pen"></i></div>
      </div>
      <div class="col-md-6">
        <form action="">
          <div class="row">
            <div class="col-6">
              <input
                class="form-control"
                type="text"
                placeholder="First Name"
              />
            </div>
            <div class="col-6">
              <input class="form-control" type="text" placeholder="Last Name" />
            </div>
          </div>

          <input
            class="form-control"
            type="email"
            placeholder="Email Address"
          />
          <input
            class="form-control mt-2"
            type="tel"
            placeholder="Phone Number"
          />
          <textarea
            class="form-control mt-2"
            name=""
            id=""
            cols="30"
            rows="5"
          ></textarea>
          <div class="btn-container">
            <button class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
