p {
  color: #264653;
}

.description {
  text-align: center;
  margin: 0 5% 7%;
}

.backdrop {
  background-color: #bec8cc;
  border-radius: 20px;
  padding: 5% 8% 8%;
}

.form-control {
  margin: 1% 0;
}

.icon {
    font-size: 2rem;
    color: #264653;
    text-align: right;
}

.icon-left {
    font-size: 1.2rem;
    color: #264653;
}

.btn {
    margin-top: 2%;
    padding: 2% 10%;
}

.btn-container {
    text-align: center;
}